# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script before PyInstaller builds the exe
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
.tape/

# Environments (Virtual Environments)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry / Pipenv / PDM
# Note: You should commit poetry.lock, Pipfile.lock, and pdm.lock if building applications.
# .pdm-plugins/
# .pdm-python/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# cython debug
cython_debug/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store